body{
    margin: 5px;
    background-color: #FF896D;
}
.header{
    padding-left: 30px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #ffd369;
}
.nav{
    text-align: center;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: white;
    padding: 15px 80px;
    display: block;
    text-decoration: none;
}
.nav ul li a:hover{
    background-color:chocolate;
}
.content h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #393e46;
    font-size: 80px;
    text-align: center;
    background-color: #FFF8B5;
}
.content h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: #FFF8B5;
}